#content #bodyContent .bs-social-entitylist-headline, .bs-social-entitylist-headline {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	&>h3 {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		margin: 0 auto;
		padding: 5px 0 11px;
		width: 100%;
		color: @bs-color-header-information;
		font-weight: normal;
		font-size: 24px;
	}
}

.bs-data-after-content .bs-social-entitylist-headline {
	&>h3 {
		padding: 13px 0;
		color: @bs-primary-light-subelement-border;
		font-weight: bold;
		font-size: 1.0rem;
	}
}
