.bs-social-entityspawner-new {
	form.oo-ui-layout.oo-ui-formLayout {
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		width: 700px;
		padding: 10px;
		position: absolute;
		right: 0;

		&:before {
			content: '';
			display: inline-block;
			width: 25px;
			height: 25px;
			background-color: black;
			position: relative;
			right: 55px;
			top: -23px;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			float: right;
			margin-right: -25px;
			background-color: var(--content-bg);
			border-top: 1px solid @bs-primary-light-background;
			border-left: 1px solid @bs-primary-light-background;
		}

		form.ve-ui-fragmentInspector-form {
			position: relative;
			background-color: var(--content-bg);
		}
	}
}

.bs-social-entity {
	form.oo-ui-formLayout {
		margin: 0 0px 0 10px;
	}

	.bs-social-entitylist-children {
		form.oo-ui-formLayout {
			margin: 0 80px 0 0px;
		}
	}
}

ul.bs-social-entitylist li {
	margin: 0 0 10px 0 !important;
	padding: 0;
	position: relative;
}

ul.dropdown-menu li{
	margin: 0 !important;
	padding: 0 !important;
}

div.bs-social-entity-actions-menu-prio li{
	margin: 0 !important;
	padding: 0 !important;
}

.bs-social-entity .bs-social-entitylist-children div.bs-social-entity-right {
	padding: 0;
	background-color: @bs-light-background;
	border-radius: 3px;
	position: relative;
}

.bs-social-entity div.bs-social-entity-right{
	margin: 0 0px 0 80px;
}

.bs-social-entity-content {
	overflow: hidden;
	width: 80%;
}

#content .bs-social-entity-content p {
	margin-top: 0px;
}