<div class="bs-social-entity-wrapper">
	<div class="bs-social-entity-title">
		<h3>{{{title}}}</h3>
	</div>
	<div class="bs-social-entity-right">
		{{{entityactions}}}
			<span class="bs-social-entity-timecreated">
				{{{timestampcreated}}}
			</span>
	</div>
</div>
