<div class="bs-social-entity-wrapper">
	<div class="bs-social-entity-right">
		<div class="bs-social-entity-title">
			<span>{{{title}}}</span>
			<span class="bs-social-entity-timecreated">
				{{{timestampcreated}}}
			</span>
		</div>
		{{{entityactions}}}
	</div>
</div>
