<div class="bs-social-entity-wrapper">
	<div class="bs-social-entity-right">
		<div class="bs-social-entity-title">
			<h3>{{{title}}}</h3>
			<span class="bs-social-entity-timecreated">
				{{{timestampcreated}}}
			</span>
		</div>
		{{{entityactions}}}
	</div>
</div>
