<div class="bs-social-entitylist-menu-item bs-social-entityspawner" data-options="{{options}}">
	<div class="bs-social-entityspawner-actions">
		<div class="bs-social-entityspawner-actions-btn" role="button" title="{{tooltip}}"></div>
		<div class="bs-social-entityspawner-actions-content"></div>
	</div>
</div>