<div class="bs-social-entity-attachment-{{type}} {{class}}">
	<a href="{{link}}" title="{{title}}" {{{attribs}}} class="image">
		<span class="bs-social-entity-attachment-wrapper">
			{{{content}}}
		</span>
	</a>
</div>